{%- doc -%}
  Renders the cart icon, which displays the number of items in the cart via a bubble.
{%- enddoc -%}
<cart-icon
  class="
    header-actions__cart-icon
    {% unless cart == empty %} header-actions__cart-icon--has-cart{% endunless %}
  "
  data-testid="cart-icon"
>
  <span
    class="svg-wrapper"
    aria-hidden="true"
  >
    <svg viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.54866 18.0036C8.48809 18.0036 9.24966 17.242 9.24966 16.3026C9.24966 15.3631 8.48809 14.6016 7.54866 14.6016C6.60922 14.6016 5.84766 15.3631 5.84766 16.3026C5.84766 17.242 6.60922 18.0036 7.54866 18.0036Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M14.9608 18.0036C15.9002 18.0036 16.6618 17.242 16.6618 16.3026C16.6618 15.3631 15.9002 14.6016 14.9608 14.6016C14.0213 14.6016 13.2598 15.3631 13.2598 16.3026C13.2598 17.242 14.0213 18.0036 14.9608 18.0036Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M3.606 2.805L5.616 9.169C5.925 10.147 6.079 10.636 6.376 10.998C6.636 11.318 6.975 11.565 7.358 11.718C7.793 11.891 8.305 11.891 9.331 11.891H13.186C14.212 11.891 14.724 11.891 15.158 11.718C15.542 11.565 15.88 11.318 16.141 10.998C16.437 10.636 16.591 10.147 16.901 9.169L17.31 7.873L17.55 7.107L17.881 6.057C17.9991 5.6825 18.0274 5.28544 17.9634 4.898C17.8995 4.51055 17.7452 4.14361 17.513 3.82691C17.2809 3.51021 16.9774 3.25266 16.6271 3.07511C16.2768 2.89757 15.8897 2.80503 15.497 2.805H3.606ZM3.606 2.805L3.595 2.768C3.55277 2.62656 3.50608 2.48649 3.455 2.348C3.25255 1.83554 2.90923 1.39082 2.46473 1.06523C2.02022 0.739631 1.49266 0.546448 0.943 0.508C0.84 0.5 0.727 0.5 0.5 0.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </span>

  {% render 'cart-bubble', limit: 100, live_region: true, test_id: test_id %}
</cart-icon>

{% stylesheet %}
  cart-icon:has(.cart-bubble__text-count:empty) {
    --cart-bubble-size: 10px;
    --cart-bubble-top: 9px;
    --cart-bubble-right: 9px;

    .svg-wrapper {
      --cart-bubble-top: 4px;
      --cart-bubble-right: 4px;
    }
  }
{% endstylesheet %}
